.calculator__btn-wrapper {
  display: grid;
  grid-column-gap: 2px;
  grid-row-gap: 2px;
  grid-template-columns: 75px 75px 75px 75px;
  grid-template-rows: 75px 75px 75px 75px 75px;
  list-style: none;
  margin: 0;
  padding: 0;
}

/* TODO: Remove outline on buttons in Chrome.
  Replace with an active event which changes the color.
*/
.calculator button {
  border: 1px solid transparent;
  cursor: pointer;
  font-size: 14px;
  line-height: 75px;
  text-align: center;
  transition: background-color 0.1s, border 0.1s;
}

.calculator button:hover {
  background-color: #e7e7e7;
  border-color: #d3d4d4;
}

.calculator__btn-number {
  background-color: #f2f2f2;
  font-weight: bold;
}

.calculator__btn-operator {
  background-color: #e8e8e8;
}

/* 
  TODO: Use two different classes to target the buttons to round.
  Follow the BEM convention, without making the className properties too verbose.
*/
.calculator__btn-operator--plus-minus {
  border-radius: 0 0 0 8px;
}

.calculator button:last-of-type {
  border-radius: 0 0 8px 0;
}

.calculator__btn-operator--plus-minus i {
  display: block;
}

.calculator__btn-operator--plus-minus i:first-of-type {
  margin-bottom: -6px;
  margin-top: 12px;
}
